* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Comfortaa', cursive;
}
body {
    background-color: #EA7975;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    min-width: 316px;
    width: 98%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    margin: 4px auto;
    padding: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    justify-content: space-between;
}
.navbar--branding {
    display: flex;
}
.navbar--logo {
    width: 24px;
    height: 24px;
}
.navbar--tittle {
    font-size: 1.8rem;
    margin-left: 8px;
    padding-top: 3px;
}
.navbar--settings {
    width: 24px;
    height: 24px;
    justify-self: flex-end;
}